.wrap {
    width:600px;
}
.nav {
    display:flex;
}
.list {
    max-height:520px;
    overflow:auto;
}
.items {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    width:100%;
}
.item {
    position:relative;
    width:50%;
    text-align:center;
    cursor:pointer;
}
.price {
    display:flex;
    align-items:center;
    justify-content:center;
}
.name {
    display:block;
    text-align:center;
    min-height:48px;
}