.wrap {
    position:fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.wrap_active {
    composes: wrap;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal {
    position:absolute;
    width:720px;
    padding: 45px;
    background-color:#1c1c21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow:0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius:40px;
}

.close {
    position: absolute;
    width: 88%;
    display: flex;
    justify-content: flex-end;

    z-index:99999999;
}