.popup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
.popupItem{
    position: relative;
    display: flex;
    gap: 20px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.popupHeader{
    display: block;
    margin: 0;
    position: absolute;
}
.popupNameItem{
    display: flex;
    margin: 16px 0 32px 0;
    justify-content: center;
    align-items: center;
}